<!DOCTYPE html>
<html ng-app="librarian">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Book Library{% endblock %}</title>
        <meta name="title" content="{{ block('title') }}" />
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/default.min.css') }}" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/app/js/app.js') }}"></script>
        {% endblock %}

        <base href="/" />
    </head>
    <body>
        <div ng-view></div>
    </body>
</html>
