{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Sign in</h1>
            <button type="button">Sign in with Github</button>
        </div>
    </div>
{% endblock %}
