.icon-github {
  background-image: url("/bundles/app/images/GitHub-Mark-Light-32px.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-top: 13px;
  min-height: 48px;
}
