angular
    .module('librarian')

    .constant('gitHub', {
        clientId: '1234',
        secret: 'abcdef',
        scope: ['user:email', 'read:org'],
        authUrl: 'https://github.com/login/oauth/access_token',
        apiUrl: 'https://api.github.com'
    })

    .constant('librarian', {
        allowedUserCompanies: [
            'Acme'
        ]
    })

    .constant('usersConfig', {
        baseUrl: 'http://localhost:8081/api/users'
    })
;
